<div class="upcoming-container">
  <header>
    <h1 class="title">Upcoming</h1>
    <h2 class="task-count">12</h2>
  </header>

  <div class="task-container">
    <section class="sched">
      <div class="head-title">
        <h3>This week</h3>
      </div>
      <div class="task-content">
        <ul class="task-list">
          <li class="lists">
            <div class="task-titles add-task">
              <i class="fa-solid fa-plus"></i>
              <p class="task">Add Task</p>
            </div>
          </li>
          <li class="lists">
            <div class="task-titles">
              <p class="task">Research Content Ideas</p>
              <div class="other-infos">
                <span class="info"
                  ><i class="fa-solid fa-calendar-week"></i>
                  <h6>22-03-22</h6></span
                >
                <span class="info"
                  ><h6 class="count">1</h6>
                  <h6>Subtasks</h6> </span
                ><span class="info">
                  <div class="type-color"></div>
                  <h6>Personal</h6>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="sched">
      <div class="head-title">
        <h3>Coming week</h3>
      </div>
      <div class="task-content">
        <ul class="task-list">
          <li class="lists">
            <div class="task-titles add-task">
              <i class="fa-solid fa-plus"></i>
              <p class="task">Add Task</p>
            </div>
          </li>
          <li class="lists">
            <div class="task-titles">
              <p class="task">Research Content Ideas</p>
              <div class="other-infos">
                <span class="info"
                  ><i class="fa-solid fa-calendar-week"></i>
                  <h6>22-03-22</h6></span
                >
                <span class="info"
                  ><h6 class="count">1</h6>
                  <h6>Subtasks</h6> </span
                ><span class="info">
                  <div class="type-color"></div>
                  <h6>Personal</h6>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
